DATABASE_URL = psql://postgres:postgres@localhost:5432/interview-ai

GITHUB_CLIENT_SECRET = 
GITHUB_CLIENT_ID = 

GOOGLE_CLIENT_SECRET = 
GOOGLE_CLIENT_ID = 

NEXTAUTH_SECRET = 
NEXTAUTH_URL = 

RESEND_API_KEY = 

OPENAI_API_KEY = 

CLOUDINARY_CLOUD_NAME = 
CLOUDINARY_API_KEY = 
CLOUDINARY_API_SECRET = 

STRIPE_WEBHOOK_SECRET_KEY = 
STRIPE_SECRET_KEY = 
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY = 

NEXT_PUBLIC_APP_URL = 

NEXT_PUBLIC_STRIPE_PRODUCT_ID_PRO = 
NEXT_PUBLIC_STRIPE_PRODUCT_ID_PREMIUM = 

NEXT_PUBLIC_VAPI_AI_API_KEY = 
VAPI_AI_PRIVATE_API_KEY = 
 
